In [34]:
import tensorflow as tf
import numpy as np
import os
import json
import pandas as pd
from matplotlib import pyplot as plt
% matplotlib inline
from sklearn.utils.class_weight import compute_sample_weight

In [14]:
def normalize(df):
    df_norm = (df - df_mean) / (max_feature - df_min)
    return df_norm

In [72]:
def write_tfrecord(path, df,lab=None,weights=False):
    with tf.python_io.TFRecordWriter(path) as writer:
        for i in range(len(df.index)):
            if lab is None:
                example = tf.train.Example(features=tf.train.Features(feature={
                'data': _floats_feature(df.iloc[i].as_matrix())
                }))
            elif not weights:
                example = tf.train.Example(features=tf.train.Features(feature={
                'data': _floats_feature(df.iloc[i].as_matrix()),
                'label': _int64_feature_single(lab.iloc[i].as_matrix()[1])
                }))
            else:
                example = tf.train.Example(features=tf.train.Features(feature={
                'data': _floats_feature(df.iloc[i].as_matrix()),
                'label': _int64_feature_single(lab.iloc[i].as_matrix()[1]),
                'weight':_floats_feature_single(lab.iloc[i].as_matrix()[0])
                }))
            writer.write(example.SerializeToString())
        print('%d records wrote' % i)
        
def _floats_feature(value):
    return tf.train.Feature(float_list=tf.train.FloatList(value=value))
def _int64_feature_single(value):
    return tf.train.Feature(int64_list=tf.train.Int64List(value=[value]))
def _floats_feature_single(value):
    return tf.train.Feature(float_list=tf.train.FloatList(value=[value]))

In [49]:
with open('../data/split.json','r') as f: 
    data = json.load(f)
print '%d/%d' % (len(data['train']), len(data['val']))

16747/4642

In [6]:
train_idx = data['train']
val_idx = data['val']

In [9]:
INPUT_PATH = os.path.join('..', 'data')
TEST_DF = pd.read_csv(os.path.join(INPUT_PATH, 'test_covariates.tsv'), sep='\t')
TRAIN_DF = pd.read_csv(os.path.join(INPUT_PATH, 'train_covariates.tsv'), sep='\t')

In [10]:
TRAIN_ID_DF = pd.read_csv(os.path.join(INPUT_PATH, 'train_experiment_ids.tsv'), sep='\t')
TRAIN_LAB_DF = pd.read_csv(os.path.join(INPUT_PATH, 'train_observed_labels_new.tsv'), sep='\t')

In [11]:
ALL_DF= pd.concat([TRAIN_DF, TEST_DF])

In [13]:
max_feature = ALL_DF.max()
df_mean = ALL_DF.mean()
df_min = ALL_DF.min()

In [15]:
df_norm = normalize(TRAIN_DF)
df_test_norm = normalize(TEST_DF)

In [31]:
for i,t in max_feature[max_feature == 0].iteritems():
    print i
    if i in df_test_norm.keys():
        del df_test_norm[i]

100038993
100039939
100043225
100043585
100504362
102941
114675
15139
16147
19715
212124
215413
215728
216867
234203
240613
244425
245405
279882
320734
320835
347709
404288
436479
58202
619306
619308
627788
627914
628596
65956
668030
672214
67978
68646
77905

In [33]:
for i,t in max_feature[max_feature == 0].iteritems():
    print i
    if i in df_norm.keys():
        del df_norm[i]

100038993
100039939
100043225
100043585
100504362
102941
114675
15139
16147
19715
212124
215413
215728
216867
234203
240613
244425
245405
279882
320734
320835
347709
404288
436479
58202
619306
619308
627788
627914
628596
65956
668030
672214
67978
68646
77905

In [35]:
df_train_norm = df_norm.loc[train_idx]
lab_train = TRAIN_LAB_DF.loc[train_idx]
df_val_norm = df_norm.loc[val_idx]
lab_val = TRAIN_LAB_DF.loc[val_idx]

In [63]:
lab_t = lab_train.as_matrix()[:,1]
weights = compute_sample_weight(class_weight='balanced', y=lab_t)
lab_train = np.vstack((weights,lab_t)).T
lab_train = pd.DataFrame(lab_train)

In [73]:
write_tfrecord('../data/train_full_norm.tfrecords',df_train_norm,lab_train,weights=True)
write_tfrecord('../data/val_full_norm.tfrecords',df_val_norm,lab_val)
write_tfrecord('../data/test_full_norm.tfrecords',df_test_norm)

16746 records wrote
4641 records wrote
2854 records wrote

In [76]:
TRAIN_LAB_DF

                        Cell Type  num
0      CL:0000353 blastoderm cell    0
1      CL:0000353 blastoderm cell    0
2      CL:0000353 blastoderm cell    0
3      CL:0000353 blastoderm cell    0
4      CL:0000353 blastoderm cell    0
5      CL:0000353 blastoderm cell    0
6            UBERON:0002107 liver    1
7            UBERON:0002107 liver    1
8            UBERON:0002107 liver    1
9            UBERON:0002107 liver    1
10           UBERON:0002107 liver    1
11           UBERON:0002107 liver    1
12           UBERON:0002107 liver    1
13     CL:0000353 blastoderm cell    0
14     CL:0000353 blastoderm cell    0
15     CL:0000353 blastoderm cell    0
16     CL:0000353 blastoderm cell    0
17     CL:0000353 blastoderm cell    0
18     CL:0000353 blastoderm cell    0
19     CL:0000353 blastoderm cell    0
20     CL:0000353 blastoderm cell    0
21     CL:0000353 blastoderm cell    0
22     CL:0000353 blastoderm cell    0
23     CL:0000353 blastoderm cell    0
24     CL:0000353 blastoderm cell    0
25     CL:0000353 blastoderm cell    0
26     CL:0000353 blastoderm cell    0
27     CL:0000353 blastoderm cell    0
28     CL:0000353 blastoderm cell    0
29     CL:0000353 blastoderm cell    0
...                           ...  ...
21359        UBERON:0000955 brain   35
21360        UBERON:0000955 brain   35
21361        UBERON:0000955 brain   35
21362        UBERON:0000955 brain   35
21363        UBERON:0000955 brain   35
21364        UBERON:0000955 brain   35
21365        UBERON:0000955 brain   35
21366        UBERON:0000955 brain   35
21367        UBERON:0000955 brain   35
21368        UBERON:0000955 brain   35
21369        UBERON:0000955 brain   35
21370        UBERON:0000955 brain   35
21371        UBERON:0000955 brain   35
21372        UBERON:0000955 brain   35
21373        UBERON:0000955 brain   35
21374        UBERON:0000955 brain   35
21375        UBERON:0000955 brain   35
21376        UBERON:0000955 brain   35
21377        UBERON:0000955 brain   35
21378        UBERON:0000955 brain   35
21379       UBERON:0001851 cortex    8
21380       UBERON:0001851 cortex    8
21381       UBERON:0001851 cortex    8
21382       UBERON:0001851 cortex    8
21383       UBERON:0001851 cortex    8
21384       UBERON:0001851 cortex    8
21385       UBERON:0001851 cortex    8
21386       UBERON:0001851 cortex    8
21387       UBERON:0001851 cortex    8
21388       UBERON:0001851 cortex    8

[21389 rows x 2 columns]

In [78]:
np.save('../data/test_data.npy', df_test_norm.as_matrix())